VFX_Class/VFX_Class/Library
VFX_Class/VFX_Class/Logs
VFX_Class/VFX_Class/UserSettings
VFX_Class/VFX_Class/.vsconfig
VFX_Class/VFX_Class/Assembly-CSharp.csproj
VFX_Class/VFX_Class/Assembly-CSharp-Editor.csproj
VFX_Class/VFX_Class/VFX_Class.sln
